In [1]:
import pandas as pd

## Data Load

In [2]:
report_112 = pd.read_csv('./data/5.112신고.csv')
report_112.head()

         date jur_stn report_sx    inc_info
0  20180603.0    서울서부        남성        분실습득
1  20180603.0    서울송파        여성          폭력
2  20180603.0    서울강서        남성          소음
3  20180603.0   서울영등포        여성  실종(실종아동 등)
4  20180603.0    서울강서        남성        상담문의

In [3]:
security_tot = pd.read_csv('./data/4.체감안전도_통계(2017~2019).csv')
security_tot.head()

,large_category,medium_category,tot_f_safety,dept_safety,crime_safety,rob_satety_q1,mur_safety_q2,ta_safety_q3,raw_odder_q4,overall_q5
0,2017 상반기(연령대),10대(만14세 이상),74.3,73.3,81.5,80.1,82.8,70.9,66.9,76.5
1,2017 상반기(연령대),20대,70.1,69.3,76.9,75.7,78.2,66.1,64.3,71.7
2,2017 상반기(연령대),30대,69.6,68.9,76.8,75.7,77.9,63.9,65.2,71.1
3,2017 상반기(연령대),40대,70.7,70.2,77.2,76.1,78.3,65.5,67.0,71.9
4,2017 상반기(연령대),50대,72.1,71.5,78.3,77.7,79.0,68.0,67.6,73.3

In [4]:
pop_info = pd.read_csv('인구정보종합.csv')
del pop_info['Unnamed: 0'], pop_info['sgg_nm'], pop_info['year']
pop_info.head()

,jur_stn,date,poor_num,poor_ratio,Unnamed: 0.1,age_합계,age_15세미만,age_15~64세,age_65세이상,age_평균연령,sx_rate_합계,sx_rate_15세미만,sx_rate_15~64세,sx_rate_65세이상,foreign_num
0,서울중부경찰서,2017(상반기),7618.0,5.956402,0,127896.0,11035.0,97649.0,19212.0,42.8,94.7,103.2,98.0,75.4,10265.0
1,서울종로경찰서,2017(상반기),7272.0,4.623689,1,157277.0,13733.0,119870.0,23674.0,42.1,95.1,104.9,98.1,76.6,10979.0
2,서울남대문경찰서,2017(상반기),7618.0,5.956402,2,127896.0,11035.0,97649.0,19212.0,42.8,94.7,103.2,98.0,75.4,10265.0
3,서울서대문경찰서,2017(상반기),14210.0,4.422039,3,321345.0,32337.0,242443.0,46565.0,41.3,88.8,102.8,90.2,73.6,13152.0
4,서울혜화경찰서,2017(상반기),7272.0,4.623689,4,157277.0,13733.0,119870.0,23674.0,42.1,95.1,104.9,98.1,76.6,10979.0

In [5]:
cctv_info = pd.read_csv('cctv_보안등_비상벨현황.csv')
del cctv_info['Unnamed: 0']
cctv_info.head(3)

    jur_stn       date  light_cnt  cctv_cnt  bell_cnt
0   서울중부경찰서  2017(상반기)     4933.0    1563.0     406.0
1   서울종로경찰서  2017(상반기)     5259.0    1500.0     450.0
2  서울남대문경찰서  2017(상반기)     3000.0    1500.0     203.0

In [6]:
pub_info = pd.read_csv('유흥업소현황.csv')
del pub_info['Unnamed: 0'], pub_info['year']
pub_info.head(3)

   jur_stn       date  pub_cnt
0  서울중부경찰서  2017(상반기)      201
1  서울중부경찰서  2017(하반기)      201
2  서울종로경찰서  2017(상반기)      149

### feature로 활용될 csv merge

In [7]:
temp_info =  pd.merge(pop_info, cctv_info, on=['jur_stn','date'])
info_df = pd.merge(temp_info , pub_info, on=['jur_stn', 'date'])
info_df.head(3)

,jur_stn,date,poor_num,poor_ratio,Unnamed: 0.1,age_합계,age_15세미만,age_15~64세,age_65세이상,age_평균연령,sx_rate_합계,sx_rate_15세미만,sx_rate_15~64세,sx_rate_65세이상,foreign_num,light_cnt,cctv_cnt,bell_cnt,pub_cnt
0,서울중부경찰서,2017(상반기),7618.0,5.956402,0,127896.0,11035.0,97649.0,19212.0,42.8,94.7,103.2,98.0,75.4,10265.0,4933.0,1563.0,406.0,201
1,서울종로경찰서,2017(상반기),7272.0,4.623689,1,157277.0,13733.0,119870.0,23674.0,42.1,95.1,104.9,98.1,76.6,10979.0,5259.0,1500.0,450.0,149
2,서울남대문경찰서,2017(상반기),7618.0,5.956402,2,127896.0,11035.0,97649.0,19212.0,42.8,94.7,103.2,98.0,75.4,10265.0,3000.0,1500.0,203.0,87

In [8]:
info_df['date'].value_counts()

2017(하반기)    41
2019(하반기)    41
2019(상반기)    41
2018(하반기)    41
2020(하반기)    41
2018(상반기)    41
2017(상반기)    41
2020(상반기)    41
Name: date, dtype: int64

In [9]:
info_df.isnull().sum().sum()

0

# ------------------------------------------------------

## ※ 목표 : Q1 X값 만들기

## data check

In [10]:
report_112.info() # Q1에 사용할 data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9229111 entries, 0 to 9229110
Data columns (total 4 columns):
 #   Column     Dtype
---  ------     -----
 0   date       float64
 1   jur_stn    object
 2   report_sx  object
 3   inc_info   object
dtypes: float64(1), object(3)
memory usage: 281.7+ MB

In [11]:
len(report_112['inc_info'].unique()) # 신고유형 55개

55

In [12]:
report_112['inc_info'].value_counts().head()

기타형사범    1296049
상담문의      889824
보호조치      801201
시비        646502
교통사고      583157
Name: inc_info, dtype: int64

In [13]:
report_112['report_sx'].unique()

array(['남성', '여성', '불상', nan], dtype=object)

In [14]:
report_112.isnull().sum()

date              0
jur_stn           0
report_sx      2190
inc_info     145216
dtype: int64

In [15]:
# FillNa
report_112['report_sx'].fillna('불상', inplace=True)
report_112['inc_info'].fillna('내용확인불가', inplace=True)

In [16]:
# Date Transfer
# 0.1~0.4에서 사용한 형식에 맞는 값으로 변환 
report_112['date'] = report_112['date'].astype(int)
from datetime import datetime
from tqdm import tqdm
tqdm.pandas()
report_112['date'] = report_112['date'].progress_apply(lambda x : datetime.strptime(str(x), '%Y%m%d').strftime('%Y/%m/%d'))
report_112['date'].sort_values()

100%|██████████| 9229111/9229111 [02:51<00:00, 53876.68it/s]

7505037    2018/06/01
54683      2018/06/01
54682      2018/06/01
54681      2018/06/01
54680      2018/06/01
              ...
7501140    2021/05/31
7501139    2021/05/31
7501138    2021/05/31
7501226    2021/05/31
9229110    2021/05/31
Name: date, Length: 9229111, dtype: object

In [17]:
# delete data after 2020
report_112 = report_112[report_112['date'] < '2021/01/01']

In [18]:
# 상, 하반기 데이터로 나눔
report_112['year'] = report_112['date'].progress_apply(lambda x : str(x).split('/')[0])
report_112['month'] = report_112['date'].progress_apply(lambda x : str(x).split('/')[1])

report_112['date'] = report_112.progress_apply(lambda x : x['year'] + '(하반기)' if int(x['month']) > 6 else x['year'] + '(상반기)', axis =1 )
report_112.head(5)

100%|██████████| 8080614/8080614 [00:15<00:00, 517942.87it/s]
100%|██████████| 8080614/8080614 [00:16<00:00, 499513.74it/s]
100%|██████████| 8080614/8080614 [02:44<00:00, 49252.36it/s]

        date jur_stn report_sx    inc_info  year month
0  2018(상반기)    서울서부        남성        분실습득  2018    06
1  2018(상반기)    서울송파        여성          폭력  2018    06
2  2018(상반기)    서울강서        남성          소음  2018    06
3  2018(상반기)   서울영등포        여성  실종(실종아동 등)  2018    06
4  2018(상반기)    서울강서        남성        상담문의  2018    06

In [19]:
# 2018 상반기는 6월  데이터만 있음을 확인
report_112[report_112['date']!='2018(상반기)']

              date jur_stn report_sx inc_info  year month
177730   2018(하반기)   서울서대문        남성     보호조치  2018    07
177731   2018(하반기)    서울관악        남성       폭력  2018    07
177732   2018(하반기)    서울강북        여성    기타형사범  2018    07
177733   2018(하반기)    서울강남        여성     상담문의  2018    07
177734   2018(하반기)   서울서대문        남성     가정폭력  2018    07
...            ...     ...       ...      ...   ...   ...
9187450  2020(하반기)      진해        여성     분실습득  2020    12
9187451  2020(하반기)      진해        불상      주취자  2020    12
9187452  2020(하반기)    마산동부        남성    기타형사범  2020    12
9187453  2020(하반기)      진해        불상     위험방지  2020    12
9187454  2020(하반기)    마산중부        남성     교통사고  2020    12

[7801687 rows x 6 columns]

In [20]:
# 2018년의 상반기 데이터는 다수 누락되어 있음을 확인 (6월분만 존재) 
print('2018(상반기) :',len(report_112[report_112['date']=='2018(상반기)']))
print('2018(상반기) :',len(report_112[report_112['date']=='2018(하반기)']))

print('2019(상반기) :',len(report_112[report_112['date']=='2019(상반기)']))
print('2019(하반기) :',len(report_112[report_112['date']=='2019(하반기)']))

print('2020(상반기) :',len(report_112[report_112['date']=='2020(상반기)']))
print('2020(하반기) :',len(report_112[report_112['date']=='2020(하반기)']))

2018(상반기) : 278927
2018(상반기) : 1566665
2019(상반기) : 1536091
2019(하반기) : 1707102
2020(상반기) : 1459963
2020(하반기) : 1531866

In [21]:
# 19년 월별 데이터 확인
report_112[report_112['date']=='2019(상반기)']['month'].value_counts()

06    300727
05    299211
04    258961
03    251495
01    221468
02    204229
Name: month, dtype: int64

In [22]:
# 20년 월별 데이터 확인
report_112[report_112['date']=='2020(상반기)']['month'].value_counts()

06    276466
05    269613
04    240692
03    230017
01    227548
02    215627
Name: month, dtype: int64

In [23]:
## 19년, 20년 상반기 데이터를 보면 1 --> 6월로 갈수록 범죄 수가 증가
total_19 = report_112[report_112['date']=='2019(상반기)']['month'].value_counts().sum()
total_20 = report_112[report_112['date']=='2020(상반기)']['month'].value_counts().sum()

In [24]:
# 상반기 중 6월의 범죄 비율
print('total_19 :',300727 / total_19)
print('total_20 :',276466 / total_20)
# --> 6월의 범죄가 상반기 전체 범죄에서 약 19~20 %를 차지하고 있음
# : 18년 상반기 범죄 count 시 * 5 할것

total_19 : 0.19577420868945916
total_20 : 0.18936507295047889

In [25]:
report_112['jur_stn'] = report_112['jur_stn'] + '경찰서' # jur_stn 형식 맞춤

In [26]:
report_112.head()

        date   jur_stn report_sx    inc_info  year month
0  2018(상반기)   서울서부경찰서        남성        분실습득  2018    06
1  2018(상반기)   서울송파경찰서        여성          폭력  2018    06
2  2018(상반기)   서울강서경찰서        남성          소음  2018    06
3  2018(상반기)  서울영등포경찰서        여성  실종(실종아동 등)  2018    06
4  2018(상반기)   서울강서경찰서        남성        상담문의  2018    06

In [27]:
report_112.to_csv('report_112.csv')

## Q1 X값 생성

- 전체 112 신고건과 절도, 폭력 관련 신고건을 count하여 x값으로 사용

### 1. 전체

In [28]:
## 신고 접수건수 total count
report_total_cnt = report_112.groupby(['jur_stn','date']).count()[['report_sx']]
report_total_cnt.reset_index(inplace=True)
report_total_cnt = report_total_cnt.rename(columns={'report_sx' : 'report_total_cnt'})
report_total_cnt.head()

   jur_stn       date  report_total_cnt
0  마산동부경찰서  2018(상반기)              3551
1  마산동부경찰서  2018(하반기)             20677
2  마산동부경찰서  2019(상반기)             23939
3  마산동부경찰서  2019(하반기)             26029
4  마산동부경찰서  2020(상반기)             23535

In [29]:
report_total_cnt['report_total_cnt'] = report_total_cnt.apply(lambda x : x['report_total_cnt'] * 5 if x['date'] =='2018(상반기)' else x['report_total_cnt'] , axis= 1   )
report_total_cnt.head(3)

   jur_stn       date  report_total_cnt
0  마산동부경찰서  2018(상반기)             17755
1  마산동부경찰서  2018(하반기)             20677
2  마산동부경찰서  2019(상반기)             23939

In [30]:
# 전체 신고자 성별 count
total_sx_cnt = report_112.groupby(['jur_stn','date', 'report_sx']).count()[['year']]
total_sx_cnt.reset_index(inplace=True)
total_sx_cnt = total_sx_cnt.rename(columns={'year' : 'total_sx_cnt'})
total_sx_cnt.head()

   jur_stn       date report_sx  total_sx_cnt
0  마산동부경찰서  2018(상반기)        남성          2097
1  마산동부경찰서  2018(상반기)        불상           357
2  마산동부경찰서  2018(상반기)        여성          1097
3  마산동부경찰서  2018(하반기)        남성         12327
4  마산동부경찰서  2018(하반기)        불상          2011

In [31]:
total_sx_cnt['total_sx_cnt'] = total_sx_cnt.apply(lambda x : x['total_sx_cnt'] * 5 if x['date'] =='2018(상반기)' else x['total_sx_cnt'] , axis= 1   )
total_sx_cnt.head(3)

   jur_stn       date report_sx  total_sx_cnt
0  마산동부경찰서  2018(상반기)        남성         10485
1  마산동부경찰서  2018(상반기)        불상          1785
2  마산동부경찰서  2018(상반기)        여성          5485

In [32]:
## X값으로 만들기 위해 신고자 성별 값을 column으로 만들고 count 값을 각 row에 삽입한다
temp_data = total_sx_cnt.drop_duplicates(subset=['jur_stn','date'])[['jur_stn','date']]
temp_data= temp_data.reset_index()
del temp_data['index']

for i in total_sx_cnt['report_sx'].unique() :
    temp_data['report_sx_'+i] = 0
    
for i in range(len(total_sx_cnt)) :
    temp_name = total_sx_cnt['report_sx'].iloc[i]
    temp = temp_data[(temp_data['jur_stn']==total_sx_cnt['jur_stn'].iloc[i])&(temp_data['date']==total_sx_cnt['date'].iloc[i])]
    temp[temp_name] = total_sx_cnt['total_sx_cnt'].iloc[i]
    temp_data['report_sx_'+temp_name].iloc[temp.index] = total_sx_cnt['total_sx_cnt'].iloc[i]
total_sx_cnt_df = temp_data
total_sx_cnt_df.head(3)

/opt/app-root/lib/python3.6/site-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
/opt/app-root/lib/python3.6/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

   jur_stn       date  report_sx_남성  report_sx_불상  report_sx_여성
0  마산동부경찰서  2018(상반기)         10485          1785          5485
1  마산동부경찰서  2018(하반기)         12327          2011          6339
2  마산동부경찰서  2019(상반기)         14081          2610          7248

In [33]:
# total cnt 와 성별 cnt column merge
temp_total = pd.merge(report_total_cnt, total_sx_cnt_df)
temp_total.head()

,jur_stn,date,report_total_cnt,report_sx_남성,report_sx_불상,report_sx_여성
0,마산동부경찰서,2018(상반기),17755,10485,1785,5485
1,마산동부경찰서,2018(하반기),20677,12327,2011,6339
2,마산동부경찰서,2019(상반기),23939,14081,2610,7248
3,마산동부경찰서,2019(하반기),26029,15184,3190,7655
4,마산동부경찰서,2020(상반기),23535,13307,3359,6869

### 2. 폭력

In [34]:
# 신고 건수 중 폭력 건만 total count 
vio_total_cnt = report_112[report_112['inc_info'].str.contains('폭력')].groupby(['jur_stn','date']).count()[['report_sx']]
vio_total_cnt.reset_index(inplace=True)
vio_total_cnt = vio_total_cnt.rename(columns={'report_sx' : 'vio_total_cnt'})
vio_total_cnt.head()

   jur_stn       date  vio_total_cnt
0  마산동부경찰서  2018(상반기)            261
1  마산동부경찰서  2018(하반기)           1547
2  마산동부경찰서  2019(상반기)           1751
3  마산동부경찰서  2019(하반기)           1715
4  마산동부경찰서  2020(상반기)           1511

In [35]:
vio_total_cnt['vio_total_cnt'] = vio_total_cnt.apply(lambda x : x['vio_total_cnt'] * 5 if x['date'] =='2018(상반기)' else x['vio_total_cnt'] , axis= 1   )
vio_total_cnt.head(3)

   jur_stn       date  vio_total_cnt
0  마산동부경찰서  2018(상반기)           1305
1  마산동부경찰서  2018(하반기)           1547
2  마산동부경찰서  2019(상반기)           1751

In [36]:
# 폭력 건 신고자 성별 count
vio_total_sx_cnt =report_112[report_112['inc_info'].str.contains('폭력')].groupby(['jur_stn','date', 'report_sx']).count()[['year']]
vio_total_sx_cnt.reset_index(inplace=True)
vio_total_sx_cnt = vio_total_sx_cnt.rename(columns={'year' : 'vio_total_sx_cnt'})
vio_total_sx_cnt.head()

   jur_stn       date report_sx  vio_total_sx_cnt
0  마산동부경찰서  2018(상반기)        남성               159
1  마산동부경찰서  2018(상반기)        불상                 2
2  마산동부경찰서  2018(상반기)        여성               100
3  마산동부경찰서  2018(하반기)        남성               886
4  마산동부경찰서  2018(하반기)        불상                31

In [37]:
vio_total_sx_cnt['vio_total_cnt'] = vio_total_sx_cnt.apply(lambda x : x['vio_total_sx_cnt'] * 5 if x['date'] =='2018(상반기)' else x['vio_total_sx_cnt'] , axis= 1   )
vio_total_sx_cnt.head(3)

   jur_stn       date report_sx  vio_total_sx_cnt  vio_total_cnt
0  마산동부경찰서  2018(상반기)        남성               159            795
1  마산동부경찰서  2018(상반기)        불상                 2             10
2  마산동부경찰서  2018(상반기)        여성               100            500

In [38]:
## X값으로 만들기 위해 신고자 성별 값을 column으로 만들고 count 값을 각 row에 삽입한다
temp_data = vio_total_sx_cnt.drop_duplicates(subset=['jur_stn','date'])[['jur_stn','date']]
temp_data= temp_data.reset_index()
del temp_data['index']

for i in vio_total_sx_cnt['report_sx'].unique() :
    temp_data['report_sx_'+i] = 0
    
for i in range(len(vio_total_sx_cnt)) :
    temp_name = vio_total_sx_cnt['report_sx'].iloc[i]
    temp = temp_data[(temp_data['jur_stn']==vio_total_sx_cnt['jur_stn'].iloc[i])&(temp_data['date']==vio_total_sx_cnt['date'].iloc[i])]
    temp[temp_name] = vio_total_sx_cnt['vio_total_sx_cnt'].iloc[i]
    temp_data['report_sx_'+temp_name].iloc[temp.index] = vio_total_sx_cnt['vio_total_sx_cnt'].iloc[i]
vio_total_sx_cnt_df = temp_data
vio_total_sx_cnt_df.head(3)

/opt/app-root/lib/python3.6/site-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
/opt/app-root/lib/python3.6/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

   jur_stn       date  report_sx_남성  report_sx_불상  report_sx_여성
0  마산동부경찰서  2018(상반기)           159             2           100
1  마산동부경찰서  2018(하반기)           886            31           630
2  마산동부경찰서  2019(상반기)           957            49           745

In [39]:
# 폭력 건 total cnt 와 성별 cnt column merge
temp_vio_total = pd.merge(vio_total_cnt, vio_total_sx_cnt_df)
temp_vio_total.head()

   jur_stn       date  vio_total_cnt  report_sx_남성  report_sx_불상  report_sx_여성
0  마산동부경찰서  2018(상반기)           1305           159             2           100
1  마산동부경찰서  2018(하반기)           1547           886            31           630
2  마산동부경찰서  2019(상반기)           1751           957            49           745
3  마산동부경찰서  2019(하반기)           1715           932            50           733
4  마산동부경찰서  2020(상반기)           1511           840            22           649

In [40]:
# 폭력 카테고리 별 total count
vio_part_cnt = report_112[report_112['inc_info'].str.contains('폭력')].groupby(['jur_stn','date','inc_info']).count()[['report_sx']]
vio_part_cnt.reset_index(inplace=True)
vio_part_cnt = vio_part_cnt.rename(columns={'report_sx' : 'vio_part_cnt'})
vio_part_cnt.head()

   jur_stn       date inc_info  vio_part_cnt
0  마산동부경찰서  2018(상반기)     가정폭력            49
1  마산동부경찰서  2018(상반기)    데이트폭력             3
2  마산동부경찰서  2018(상반기)      성폭력             4
3  마산동부경찰서  2018(상반기)       폭력           205
4  마산동부경찰서  2018(하반기)     가정폭력           271

In [41]:
## X값으로 만들기 위해 폭력 카테고리 값을 column으로 만들고 count 값을 각 row에 삽입한다
temp_data = vio_part_cnt.drop_duplicates(subset=['jur_stn','date'])[['jur_stn','date']]
temp_data= temp_data.reset_index()
del temp_data['index']

for i in vio_part_cnt['inc_info'].unique() :
    temp_data['inc_info_'+i] = 0
    
for i in range(len(vio_part_cnt)) :
    temp_name = vio_part_cnt['inc_info'].iloc[i]
    temp = temp_data[(temp_data['jur_stn']==vio_part_cnt['jur_stn'].iloc[i])&(temp_data['date']==vio_part_cnt['date'].iloc[i])]
    temp[temp_name] = vio_part_cnt['vio_part_cnt'].iloc[i]
    temp_data['inc_info_'+temp_name].iloc[temp.index] = vio_part_cnt['vio_part_cnt'].iloc[i]
vio_part_cnt_df = temp_data
vio_part_cnt_df.head(3)

/opt/app-root/lib/python3.6/site-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
/opt/app-root/lib/python3.6/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

,jur_stn,date,inc_info_가정폭력,inc_info_데이트폭력,inc_info_성폭력,inc_info_폭력,inc_info_학교폭력
0,마산동부경찰서,2018(상반기),49,3,4,205,0
1,마산동부경찰서,2018(하반기),271,36,23,1213,4
2,마산동부경찰서,2019(상반기),407,45,41,1251,7

In [42]:
# 폭력 건 total cnt 와 성별 cnt column merge
vio_total_df = pd.merge(temp_vio_total, vio_part_cnt_df)
vio_total_df.head()

,jur_stn,date,vio_total_cnt,report_sx_남성,report_sx_불상,report_sx_여성,inc_info_가정폭력,inc_info_데이트폭력,inc_info_성폭력,inc_info_폭력,inc_info_학교폭력
0,마산동부경찰서,2018(상반기),1305,159,2,100,49,3,4,205,0
1,마산동부경찰서,2018(하반기),1547,886,31,630,271,36,23,1213,4
2,마산동부경찰서,2019(상반기),1751,957,49,745,407,45,41,1251,7
3,마산동부경찰서,2019(하반기),1715,932,50,733,376,42,51,1234,12
4,마산동부경찰서,2020(상반기),1511,840,22,649,313,48,22,1113,15

### 3. 절도

In [43]:
# 절도 total count
rob_total_cnt = report_112[report_112['inc_info'].str.contains('절도')].groupby(['jur_stn','date','inc_info']).count()[['report_sx']]
rob_total_cnt.reset_index(inplace=True)
rob_total_cnt = rob_total_cnt.rename(columns={'report_sx' : 'rob_total_cnt'})
rob_total_cnt.head()

   jur_stn       date inc_info  rob_total_cnt
0  마산동부경찰서  2018(상반기)       절도             71
1  마산동부경찰서  2018(하반기)       절도            436
2  마산동부경찰서  2019(상반기)       절도            521
3  마산동부경찰서  2019(하반기)       절도            546
4  마산동부경찰서  2020(상반기)       절도            513

In [44]:
rob_total_cnt['rob_total_cnt'] = rob_total_cnt.apply(lambda x : x['rob_total_cnt'] * 5 if x['date'] =='2018(상반기)' else x['rob_total_cnt'] , axis= 1   )
rob_total_cnt.head(3)

   jur_stn       date inc_info  rob_total_cnt
0  마산동부경찰서  2018(상반기)       절도            355
1  마산동부경찰서  2018(하반기)       절도            436
2  마산동부경찰서  2019(상반기)       절도            521

In [45]:
# 절도 신고자 성별
rob_sx_cnt =report_112[report_112['inc_info'].str.contains('절도')].groupby(['jur_stn','date', 'report_sx']).count()[['year']]
rob_sx_cnt.reset_index(inplace=True)
rob_sx_cnt = rob_sx_cnt.rename(columns={'year' : 'rob_sx_cnt'})
rob_sx_cnt.head()

   jur_stn       date report_sx  rob_sx_cnt
0  마산동부경찰서  2018(상반기)        남성          45
1  마산동부경찰서  2018(상반기)        불상           1
2  마산동부경찰서  2018(상반기)        여성          25
3  마산동부경찰서  2018(하반기)        남성         300
4  마산동부경찰서  2018(하반기)        불상           6

In [46]:
temp_data = rob_sx_cnt.drop_duplicates(subset=['jur_stn','date'])[['jur_stn','date']]
temp_data= temp_data.reset_index()
del temp_data['index']

for i in rob_sx_cnt['report_sx'].unique() :
    temp_data['report_sx_'+i] = 0
    
for i in range(len(rob_sx_cnt)) :
    temp_name = rob_sx_cnt['report_sx'].iloc[i]
    temp = temp_data[(temp_data['jur_stn']==rob_sx_cnt['jur_stn'].iloc[i])&(temp_data['date']==rob_sx_cnt['date'].iloc[i])]
    temp[temp_name] = rob_sx_cnt['rob_sx_cnt'].iloc[i]
    temp_data['report_sx_'+temp_name].iloc[temp.index] = rob_sx_cnt['rob_sx_cnt'].iloc[i]
rob_sx_cnt_df = temp_data
rob_sx_cnt_df.head(3)

/opt/app-root/lib/python3.6/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
/opt/app-root/lib/python3.6/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

   jur_stn       date  report_sx_남성  report_sx_불상  report_sx_여성
0  마산동부경찰서  2018(상반기)            45             1            25
1  마산동부경찰서  2018(하반기)           300             6           130
2  마산동부경찰서  2019(상반기)           363             5           153

In [47]:
# 절도 cnt, 성별 merge
temp_rob_total = pd.merge(rob_total_cnt, rob_sx_cnt_df)
temp_rob_total.head()

,jur_stn,date,inc_info,rob_total_cnt,report_sx_남성,report_sx_불상,report_sx_여성
0,마산동부경찰서,2018(상반기),절도,355,45,1,25
1,마산동부경찰서,2018(하반기),절도,436,300,6,130
2,마산동부경찰서,2019(상반기),절도,521,363,5,153
3,마산동부경찰서,2019(하반기),절도,546,355,9,182
4,마산동부경찰서,2020(상반기),절도,513,370,3,140

In [48]:
del temp_rob_total['inc_info']

### 4. 폭력 + 절도 total column merge

In [49]:
temp_df = pd.merge(temp_vio_total,temp_rob_total , on=['jur_stn','date'])
temp_q1 = pd.merge(temp_df, temp_total, on=['jur_stn','date'])
temp_q1.head(3)

,jur_stn,date,vio_total_cnt,report_sx_남성_x,report_sx_불상_x,report_sx_여성_x,rob_total_cnt,report_sx_남성_y,report_sx_불상_y,report_sx_여성_y,report_total_cnt,report_sx_남성,report_sx_불상,report_sx_여성
0,마산동부경찰서,2018(상반기),1305,159,2,100,355,45,1,25,17755,10485,1785,5485
1,마산동부경찰서,2018(하반기),1547,886,31,630,436,300,6,130,20677,12327,2011,6339
2,마산동부경찰서,2019(상반기),1751,957,49,745,521,363,5,153,23939,14081,2610,7248

In [50]:
q1_df = pd.merge(temp_q1, info_df, on=['jur_stn','date'])
q1_df.head()

,jur_stn,date,vio_total_cnt,report_sx_남성_x,report_sx_불상_x,report_sx_여성_x,rob_total_cnt,report_sx_남성_y,report_sx_불상_y,report_sx_여성_y,...,age_평균연령,sx_rate_합계,sx_rate_15세미만,sx_rate_15~64세,sx_rate_65세이상,foreign_num,light_cnt,cctv_cnt,bell_cnt,pub_cnt
0,마산동부경찰서,2018(상반기),1305,159,2,100,355,45,1,25,...,42.800000,100.800000,108.500000,105.000000,77.5,2770.000000,5647.0,1218.0,100.0,330
1,마산동부경찰서,2018(하반기),1547,886,31,630,436,300,6,130,...,42.800000,100.800000,108.500000,105.000000,77.5,2770.000000,5647.0,1218.0,100.0,330
2,마산동부경찰서,2019(상반기),1751,957,49,745,521,363,5,153,...,43.700000,100.300000,109.400000,104.400000,78.6,2871.000000,5647.0,1218.0,100.0,331
3,마산동부경찰서,2019(하반기),1715,932,50,733,546,355,9,182,...,43.700000,100.300000,109.400000,104.400000,78.6,2871.000000,5647.0,1218.0,100.0,331
4,마산동부경찰서,2020(상반기),1511,840,22,649,513,370,3,140,...,42.866667,100.666667,109.066667,104.733333,77.7,2803.666667,5647.0,1218.0,100.0,331

## y값 삽입

In [51]:
security_tot.columns

Index(['large_category', 'medium_category', 'tot_f_safety', 'dept_safety',
       'crime_safety', ' rob_satety_q1', 'mur_safety_q2', 'ta_safety_q3',
       'raw_odder_q4', 'overall_q5'],
      dtype='object')

In [52]:
# 체감안전도 데이터에서 y값 가져오기
security_tot = security_tot.rename(columns={' rob_satety_q1' : 'rob_safety_q1'})
security_tot = security_tot[security_tot['large_category'].str.contains('경찰서별')]
crime_safety = security_tot[['large_category','medium_category','rob_safety_q1', 'mur_safety_q2', 'ta_safety_q3',
       'raw_odder_q4', 'overall_q5']]
crime_safety.head()

,large_category,medium_category,rob_safety_q1,mur_safety_q2,ta_safety_q3,raw_odder_q4,overall_q5
8,2017 상반기(경찰서별),서울중부,75.2,76.5,69.9,65.9,72.6
9,2017 상반기(경찰서별),서울종로,81.6,82.4,69.1,62.7,72.2
10,2017 상반기(경찰서별),서울남대문,77.3,79.3,68.8,61.0,71.7
11,2017 상반기(경찰서별),서울서대문,78.0,80.0,67.0,66.3,71.4
12,2017 상반기(경찰서별),서울혜화,78.6,80.6,70.7,65.2,75.4

In [53]:
# merge를 위한 date col 생성
crime_safety['date'] = crime_safety['large_category'].apply(lambda x : x.split(' ')[0] + '(' + x.split(' ')[1][:3] + ')' )
crime_safety['date']

/opt/app-root/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

8      2017(상반기)
9      2017(상반기)
10     2017(상반기)
11     2017(상반기)
12     2017(상반기)
         ...
285    2019(하반기)
286    2019(하반기)
287    2019(하반기)
288    2019(하반기)
289    2019(하반기)
Name: date, Length: 246, dtype: object

In [54]:
# jur_stn 양식 맞춰줌
crime_safety['jur_stn'] = crime_safety['medium_category'].apply(lambda x : x+ '경찰서')
crime_safety['jur_stn'] = crime_safety['jur_stn'].apply(lambda x : x.replace('경남',''))
crime_safety['jur_stn'] = crime_safety['jur_stn'].apply(lambda x : x.replace('경기',''))
crime_safety['jur_stn'] = crime_safety['jur_stn'].apply(lambda x : x.replace('충남',''))
crime_safety['jur_stn'] = crime_safety['jur_stn'].apply(lambda x : x.replace('남부수원','수원'))
crime_safety['jur_stn'] = crime_safety['jur_stn'].apply(lambda x : x.replace('서경찰서','경찰서'))
crime_safety.head(3)

/opt/app-root/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/opt/app-root/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/opt/app-root/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/opt/app-root/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/opt/app-root/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/opt/app-root/lib/python3.6/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

,large_category,medium_category,rob_safety_q1,mur_safety_q2,ta_safety_q3,raw_odder_q4,overall_q5,date,jur_stn
8,2017 상반기(경찰서별),서울중부,75.2,76.5,69.9,65.9,72.6,2017(상반기),서울중부경찰서
9,2017 상반기(경찰서별),서울종로,81.6,82.4,69.1,62.7,72.2,2017(상반기),서울종로경찰서
10,2017 상반기(경찰서별),서울남대문,77.3,79.3,68.8,61.0,71.7,2017(상반기),서울남대문경찰서

In [55]:
crime_safety['date'].value_counts()

2017(하반기)    41
2019(하반기)    41
2019(상반기)    41
2018(하반기)    41
2018(상반기)    41
2017(상반기)    41
Name: date, dtype: int64

In [56]:
crime_safety.columns

Index(['large_category', 'medium_category', 'rob_safety_q1', 'mur_safety_q2',
       'ta_safety_q3', 'raw_odder_q4', 'overall_q5', 'date', 'jur_stn'],
      dtype='object')

In [57]:
crime_safety = crime_safety[['rob_safety_q1', 'mur_safety_q2',  'ta_safety_q3',
       'raw_odder_q4', 'overall_q5',
       'date', 'jur_stn']]

#### 최종 Merge

In [58]:
q1_total = pd.merge(q1_df ,crime_safety , how='outer')
q1_total.head(3)

,jur_stn,date,vio_total_cnt,report_sx_남성_x,report_sx_불상_x,report_sx_여성_x,rob_total_cnt,report_sx_남성_y,report_sx_불상_y,report_sx_여성_y,...,foreign_num,light_cnt,cctv_cnt,bell_cnt,pub_cnt,rob_safety_q1,mur_safety_q2,ta_safety_q3,raw_odder_q4,overall_q5
0,마산동부경찰서,2018(상반기),1305.0,159.0,2.0,100.0,355.0,45.0,1.0,25.0,...,2770.0,5647.0,1218.0,100.0,330.0,76.0,79.0,67.5,70.0,72.6
1,마산동부경찰서,2018(하반기),1547.0,886.0,31.0,630.0,436.0,300.0,6.0,130.0,...,2770.0,5647.0,1218.0,100.0,330.0,72.4,75.6,67.9,70.7,71.8
2,마산동부경찰서,2019(상반기),1751.0,957.0,49.0,745.0,521.0,363.0,5.0,153.0,...,2871.0,5647.0,1218.0,100.0,331.0,76.1,78.2,66.4,69.9,72.4

In [59]:
# q1_total이 2018 년도 데이터부터 있으므로 17년도 제외
q1_total = q1_total[(q1_total['date']!='2017(상반기)') & (q1_total['date']!='2017(하반기)')]
q1_total.head()

,jur_stn,date,vio_total_cnt,report_sx_남성_x,report_sx_불상_x,report_sx_여성_x,rob_total_cnt,report_sx_남성_y,report_sx_불상_y,report_sx_여성_y,...,foreign_num,light_cnt,cctv_cnt,bell_cnt,pub_cnt,rob_safety_q1,mur_safety_q2,ta_safety_q3,raw_odder_q4,overall_q5
0,마산동부경찰서,2018(상반기),1305.0,159.0,2.0,100.0,355.0,45.0,1.0,25.0,...,2770.000000,5647.0,1218.0,100.0,330.0,76.0,79.0,67.5,70.0,72.6
1,마산동부경찰서,2018(하반기),1547.0,886.0,31.0,630.0,436.0,300.0,6.0,130.0,...,2770.000000,5647.0,1218.0,100.0,330.0,72.4,75.6,67.9,70.7,71.8
2,마산동부경찰서,2019(상반기),1751.0,957.0,49.0,745.0,521.0,363.0,5.0,153.0,...,2871.000000,5647.0,1218.0,100.0,331.0,76.1,78.2,66.4,69.9,72.4
3,마산동부경찰서,2019(하반기),1715.0,932.0,50.0,733.0,546.0,355.0,9.0,182.0,...,2871.000000,5647.0,1218.0,100.0,331.0,75.0,76.5,69.4,68.9,73.1
4,마산동부경찰서,2020(상반기),1511.0,840.0,22.0,649.0,513.0,370.0,3.0,140.0,...,2803.666667,5647.0,1218.0,100.0,331.0,NaN,NaN,NaN,NaN,NaN

In [60]:
q1_total['date'].value_counts()

2019(하반기)    41
2019(상반기)    41
2018(하반기)    41
2018(상반기)    41
2020(상반기)    40
2020(하반기)    40
Name: date, dtype: int64

In [61]:
# 18 ~ 20년 누락 데이터 채워주기
pub_info.drop(pub_info[pub_info['date'].str.contains('2017')].index, inplace=True)
q1_total = pd.merge(pub_info, q1_total, how='outer')

In [62]:
q1_total = q1_total.drop_duplicates(subset=['jur_stn','date']) # 중복 제거

In [63]:
q1_total['date'].value_counts() # result check

2020(상반기)    41
2019(하반기)    41
2019(상반기)    41
2018(하반기)    41
2018(상반기)    41
2020(하반기)    41
Name: date, dtype: int64

In [64]:
## 세종 null 값 index 채우기 ##
null_index= q1_total[q1_total['vio_total_cnt'].isnull()].index 
null_index

Int64Index([151, 232, 233], dtype='int64')

In [65]:
crime_safety[crime_safety['jur_stn'].str.contains('세종')] # y 값 채우기 위해 확인

,rob_safety_q1,mur_safety_q2,ta_safety_q3,raw_odder_q4,overall_q5,date,jur_stn
42,80.7,82.8,69.6,73.2,76.4,2017(상반기),세종경찰서
91,79.6,79.2,66.6,65.9,73.9,2017(하반기),세종경찰서
139,81.4,82.1,64.1,69.0,74.6,2018(상반기),세종경찰서
187,79.2,80.8,64.0,71.6,75.1,2018(하반기),세종경찰서
235,83.7,84.9,68.8,74.2,77.6,2019(상반기),세종경찰서
280,76.4,79.9,71.1,71.7,75.1,2019(하반기),세종경찰서

In [66]:
# 세종 데이터 중 null 이 아닌 데이터의 평균을 저장 --> null 데이터에 채워줌
sejong_mean = q1_total[(q1_total['jur_stn'].str.contains('세종')) & (q1_total['vio_total_cnt'].notnull()) ].mean()

In [67]:
q1_total.columns[3:-5]

Index(['vio_total_cnt', 'report_sx_남성_x', 'report_sx_불상_x', 'report_sx_여성_x',
       'rob_total_cnt', 'report_sx_남성_y', 'report_sx_불상_y', 'report_sx_여성_y',
       'report_total_cnt', 'report_sx_남성', 'report_sx_불상', 'report_sx_여성',
       'poor_num', 'poor_ratio', 'Unnamed: 0.1', 'age_합계', 'age_15세미만',
       'age_15~64세', 'age_65세이상', 'age_평균연령', 'sx_rate_합계', 'sx_rate_15세미만',
       'sx_rate_15~64세', 'sx_rate_65세이상', 'foreign_num', 'light_cnt',
       'cctv_cnt', 'bell_cnt'],
      dtype='object')

In [68]:
for i in null_index :   # --> null 데이터에 평균값을 채워줌
    for c in q1_total.columns[3:-5] :
#         print(i, c)
#         print(q1_total.loc[i, c])
        q1_total.loc[i, c] = sejong_mean[c]

In [69]:
q1_total[q1_total['jur_stn'].str.contains('세종')].head() # 결과 확인

,jur_stn,date,pub_cnt,vio_total_cnt,report_sx_남성_x,report_sx_불상_x,report_sx_여성_x,rob_total_cnt,report_sx_남성_y,report_sx_불상_y,...,sx_rate_65세이상,foreign_num,light_cnt,cctv_cnt,bell_cnt,rob_safety_q1,mur_safety_q2,ta_safety_q3,raw_odder_q4,overall_q5
68,세종경찰서,2018(상반기),65.0,470.000000,56.000000,1.000000,37.000000,240.000000,32.0,2.000000,...,75.5,6486.000000,10410.0,2527.0,100.0,81.4,82.1,64.1,69.0,74.6
69,세종경찰서,2018(하반기),65.0,756.000000,421.000000,35.000000,300.000000,280.000000,200.0,3.000000,...,75.5,6486.000000,10410.0,2527.0,100.0,79.2,80.8,64.0,71.6,75.1
150,세종경찰서,2019(상반기),64.0,1361.000000,706.000000,34.000000,621.000000,634.000000,413.0,8.000000,...,76.7,7829.000000,10410.0,2527.0,100.0,83.7,84.9,68.8,74.2,77.6
151,세종경찰서,2019(하반기),64.0,862.333333,394.333333,23.333333,319.333333,384.666667,215.0,4.333333,...,75.9,6933.666667,10410.0,2527.0,100.0,NaN,NaN,NaN,NaN,NaN
232,세종경찰서,2020(상반기),63.0,862.333333,394.333333,23.333333,319.333333,384.666667,215.0,4.333333,...,75.9,6933.666667,10410.0,2527.0,100.0,NaN,NaN,NaN,NaN,NaN

In [70]:
crime_safety[crime_safety['jur_stn'].str.contains('세종')] # check

,rob_safety_q1,mur_safety_q2,ta_safety_q3,raw_odder_q4,overall_q5,date,jur_stn
42,80.7,82.8,69.6,73.2,76.4,2017(상반기),세종경찰서
91,79.6,79.2,66.6,65.9,73.9,2017(하반기),세종경찰서
139,81.4,82.1,64.1,69.0,74.6,2018(상반기),세종경찰서
187,79.2,80.8,64.0,71.6,75.1,2018(하반기),세종경찰서
235,83.7,84.9,68.8,74.2,77.6,2019(상반기),세종경찰서
280,76.4,79.9,71.1,71.7,75.1,2019(하반기),세종경찰서

In [71]:
# y값 누락된거 채워주기
q1_total.loc[151, 'rob_safety_q1'] = 76.4
q1_total.loc[151, 'mur_safety_q2'] = 79.9
q1_total.loc[151, 'ta_safety_q3'] = 71.1
q1_total.loc[151, 'raw_odder_q4'] = 71.7
q1_total.loc[151, 'overall_q5'] = 75.1

In [72]:
q1_total['date'].value_counts()

2020(상반기)    41
2019(하반기)    41
2019(상반기)    41
2018(하반기)    41
2018(상반기)    41
2020(하반기)    41
Name: date, dtype: int64

In [73]:
q1_total.columns

Index(['jur_stn', 'date', 'pub_cnt', 'vio_total_cnt', 'report_sx_남성_x',
       'report_sx_불상_x', 'report_sx_여성_x', 'rob_total_cnt', 'report_sx_남성_y',
       'report_sx_불상_y', 'report_sx_여성_y', 'report_total_cnt', 'report_sx_남성',
       'report_sx_불상', 'report_sx_여성', 'poor_num', 'poor_ratio',
       'Unnamed: 0.1', 'age_합계', 'age_15세미만', 'age_15~64세', 'age_65세이상',
       'age_평균연령', 'sx_rate_합계', 'sx_rate_15세미만', 'sx_rate_15~64세',
       'sx_rate_65세이상', 'foreign_num', 'light_cnt', 'cctv_cnt', 'bell_cnt',
       'rob_safety_q1', 'mur_safety_q2', 'ta_safety_q3', 'raw_odder_q4',
       'overall_q5'],
      dtype='object')

In [74]:
q1_total.to_csv('q1_total.csv') # 최종 q1 data

## X_data , y_data

In [75]:
# q1 data에서 X,y data 분리
X_data = q1_total.drop(['rob_safety_q1','mur_safety_q2', 'ta_safety_q3', 'raw_odder_q4', 'overall_q5'],axis=1)
y_data = q1_total['rob_safety_q1'].dropna()

In [76]:
# 2020 년도는 y값이 없으므로 제외하고 eval data로 포함
X_data = X_data.drop(X_data[X_data['date'].str.contains('2020')].index)
X_data.head()

,jur_stn,date,pub_cnt,vio_total_cnt,report_sx_남성_x,report_sx_불상_x,report_sx_여성_x,rob_total_cnt,report_sx_남성_y,report_sx_불상_y,...,age_65세이상,age_평균연령,sx_rate_합계,sx_rate_15세미만,sx_rate_15~64세,sx_rate_65세이상,foreign_num,light_cnt,cctv_cnt,bell_cnt
0,서울중부경찰서,2018(상반기),204.0,1540.0,177.0,11.0,120.0,635.0,92.0,2.0,...,19754.0,43.0,94.2,101.8,97.7,75.2,11988.0,4933.0,1563.0,406.0
1,서울중부경찰서,2018(하반기),204.0,1638.0,984.0,48.0,606.0,664.0,431.0,6.0,...,19754.0,43.0,94.2,101.8,97.7,75.2,11988.0,4933.0,1563.0,406.0
2,서울종로경찰서,2018(상반기),150.0,600.0,62.0,6.0,52.0,210.0,26.0,0.0,...,24047.0,42.3,95.5,104.7,98.6,77.1,12056.0,5259.0,1500.0,450.0
3,서울종로경찰서,2018(하반기),150.0,827.0,519.0,28.0,280.0,264.0,172.0,5.0,...,24047.0,42.3,95.5,104.7,98.6,77.1,12056.0,5259.0,1500.0,450.0
4,서울남대문경찰서,2018(상반기),88.0,1095.0,148.0,5.0,66.0,410.0,57.0,0.0,...,19754.0,43.0,94.2,101.8,97.7,75.2,11988.0,3000.0,1500.0,203.0

In [77]:
# 2020년 데이터로 eval data 생성
del_idx = q1_total[q1_total['rob_safety_q1'].notnull()].index
eval_X_data = q1_total.drop(del_idx)
eval_X_data=  eval_X_data.drop(['rob_safety_q1','mur_safety_q2','ta_safety_q3','raw_odder_q4','overall_q5'],axis=1)
eval_X_data.reset_index(drop=True,inplace=True)

In [78]:
# data check (77~80)
X_data['date'].value_counts()

2018(하반기)    41
2019(하반기)    41
2019(상반기)    41
2018(상반기)    41
Name: date, dtype: int64

In [79]:
eval_X_data['date'].value_counts()

2020(상반기)    41
2020(하반기)    41
Name: date, dtype: int64

In [80]:
X_data.shape, y_data.shape

((164, 31), (164,))

In [81]:
eval_X_data.shape

(82, 31)

In [82]:
# train data save
import os
if not os.path.exists('./analysis') :
    os.mkdir('./analysis')

In [83]:
train_data = pd.concat([X_data,y_data],axis=1)
train_data.to_csv("./analysis/q1_train.csv",index=0)
eval_X_data.to_csv("./analysis/q1_target.csv",index=0)